<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script>
    moment().format();
</script>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 m-2"></div>
            <div class="col-md-8 px-2">
                <div class="continer-fluid">
                
                    <div class="row bg-white shadow-sm p-4 rounded" >
                        <div class="col">
                            <div class="text-center">
                                <h2 class="my-5 h2">Board Statistics</h2>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-3 mb-4">
                                    <div class="text-center">
                                        <h2 class="h1 mb-0">
                                            <% if(numberOfUsers > 0) { %>
                                                <%=numberOfUsers%> 
                                            <% } else { %>
                                                0
                                            <% }%>
                                        </h2>
                                        <p><strong>Users</strong></p>
                                    </div>
                                </div>
                                <%
                                    var index = numberOfTasks.findIndex(number => number.status === 'assigned');
                                    var numberOfAssigned = numberOfTasks[index];

                                    index = numberOfTasks.findIndex(number => number.status === 'completed');
                                    var numberOfCompleted = numberOfTasks[index];

                                    index = numberOfTasks.findIndex(number => number.status === 'deleted');
                                    var numberOfDeleted = numberOfTasks[index];
                                %>
                                <div class="col-lg-3 mb-4">
                                    <div class="text-center">
                                        <h2 class="h1 mb-0">
                                        <% if (typeof numberOfAssigned != "undefined") { %> 
                                            <%= parseInt(numberOfAssigned.get("quantity"))%>
                                        <% } else { %>
                                            0
                                        <% }%>
                                        </h2>
                                        <p><strong>Assigned</strong></p>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 mb-4">
                                    <div class="text-center">
                                        <h2 class="h1 mb-0">
                                        <% if (typeof numberOfCompleted != "undefined") { %> 
                                            <%= parseInt(numberOfCompleted.get("quantity"))%>
                                        <% } else { %>
                                            0
                                        <% }%>
                                        </h2>
                                        <p><strong>Completed</strong></p>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 mb-4">
                                    <div class="text-center">
                                        <h2 class="h1 mb-0">
                                        <% if (typeof numberOfDeleted != "undefined") { %> 
                                            <%= parseInt(numberOfDeleted.get("quantity"))%>
                                        <% } else { %>
                                            0
                                        <% }%>
                                        </h2>
                                        <p><strong>Deleted</strong></p>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="text-center">
                                <h2 class="mt-5 h2">Users Statistics</h2>
                            </div>
                            
                            <div class="row d-flex justify-content-center align-items-center pt-2 p-2">
                                <% if(teammates.length > 1){ %>
                                    <table class="table table mt-3">
                                        <tbody>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row text-center">
                                                        <div class="col">
                                                            <h5 class="h4">Statistics in Time</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row d-flex justify-content-center align-items-center pt-2" id="dateForm" >
                                                        <div class="col form-group p-0">
                                                            <div class="row d-flex justify-content-between mx-2">
                                                                <div class="col ">
                                                                    <div class="form-group row">
                                                                        <label for="example-date-input" class="col-sm-2 col-form-label pr-0">From</label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="date" id="from-date-input">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col ">
                                                                    <div class="form-group row">
                                                                        <label for="example-date-input" class="col-sm-2 col-form-label pr-0">To</label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="date" id="to-date-input">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-2">
                                                                    <div class="btn btn-warning" title="Search"><span class="small" id="search">Search</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-center" id="dateAlert" style="display: none;">
                                                        <div class="col">
                                                            <p class="text-danger">Incorrect range.</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row text-center">
                                                        <div class="col p-4">
                                                            <canvas id="timeCompletedChart" width="500" height="300"></canvas>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row text-center">
                                                        <div class="col">
                                                            <h5 class="h4">All Statistics</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% teammates.forEach(function (teammate) { %>
                                                <%
                                                    var index = numberOfUsersStats.findIndex(number => number.status === 'assigned' && number.User.id === teammate.id);
                                                    var numberOfAssigned = numberOfUsersStats[index];

                                                    index = numberOfUsersStats.findIndex(number => number.status === 'completed' && number.User.id === teammate.id);
                                                    var numberOfCompleted = numberOfUsersStats[index];

                                                    index = numberOfUsersStats.findIndex(number => number.status === 'deleted' && number.User.id === teammate.id);
                                                    var numberOfDeleted = numberOfUsersStats[index];
                                                %>
                                                <tr>
                                                    <td class="stat w-5 font-weight-bold" style="cursor: pointer;" scope="row" colspan="3"><%= teammate.name%></td>
                                                </tr>
                                                <tr id="<%=teammate.id%>" style="display: none;">
                                                    <td>
                                                        <h4 class="h4 mb-0 text-warning">
                                                            <% if (typeof numberOfAssigned != "undefined") { %> 
                                                                <%= parseInt(numberOfAssigned.get("quantity"))%>
                                                            <% } else { %>
                                                                0
                                                            <% }%>
                                                        </h4>
                                                        <p>Assigned</p>
                                                    </td>
                                                    <td>
                                                        <h4 class="h4 mb-0 text-danger">
                                                            <% if (typeof numberOfCompleted != "undefined") { %> 
                                                                <%= parseInt(numberOfCompleted.get("quantity"))%>
                                                            <% } else { %>
                                                                0
                                                            <% }%>
                                                        </h4>
                                                        <p>Completed</p>
                                                    </td>
                                                    <td>
                                                        <h4 class="h4 mb-0 text-info">
                                                            <% if (typeof numberOfDeleted != "undefined") { %> 
                                                                <%= parseInt(numberOfDeleted.get("quantity"))%>
                                                            <% } else { %>
                                                                0
                                                            <% }%>
                                                        </h4>
                                                        <p>Deleted</p>
                                                    </td>
                                                </tr>
                                            <% }) %> 
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row text-center">
                                                        <div class="col p-4">
                                                            <p class="font-weight-bold">Completed</p>
                                                            <canvas id="completedChart"></canvas>
                                                        </div>
                                                        <div class="w-100"></div>
                                                        <div class="col p-4">
                                                            <p class="font-weight-bold">Assigned</p>
                                                            <canvas id="assignedChart"></canvas>
                                                        </div>
                                                        <div class="col p-4">
                                                            <p class="font-weight-bold">Deleted</p>
                                                            <canvas id="deletedChart"></canvas>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                <% } else{ %>  
                                    <div class="grid justify-content-center align-items-center pt-2">
                                        <div class="row d-flex justify-content-center align-items-center pt-2">
                                                <h4 class="text-info">You do not have any companions yet.</h4><br>
                                        </div>
                                        <div class="row d-flex justify-content-center align-items-center pt-2">
                                                <h5 class="text">Invite Your friends!</h5>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-2 m-2"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/scriptsStatistics.js"></script>